@font-face {
	font-family: "GothamBook";
	src: url(GothamBook.eot);
	src: local("GothamBook"), url("GothamBook.ttf") format("truetype");
}
body {
	padding: 0;
	margin: 0;
	text-align: center;
}
#immagine-navbar {
	position: fixed;
	left: 1%;
	top: -0.5%;
	width: 4%;
	z-index: 10000000;
}
ul {
	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	background-color: white;
    	z-index: 10000;
    	position: fixed;
    	width: 100%;
}
li {
    	display: inline-block;
    	z-index: 10000;
}
li a, .dropbtn {
    	display: inline-block;
    	color: black;
    	text-align: center;
    	padding: 12% 17%;
    	text-decoration: none;
    	z-index: 10000;
    	font-family: "GothamBook";
}
li a:hover, .dropdown:hover .dropbtn {
    	z-index: 10000;
    	color: gray;
    	transition-duration: 0.2s;
}
li.dropdown {
    	display: inline-block;
    	z-index: 10000;
}
.dropdown-content {
    	display: none;
    	position: absolute;
    	background-color: white;
    	min-width: 160px;
    	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    	z-index: 10000;
}
.dropdown-content a {
    	color: black;
    	padding: 6% 13%;
    	text-decoration: none;
    	display: block;
    	text-align: left;
    	z-index: 10000;
    	transition-duration: 0.2s;
}
.dropdown-content a:hover {color: gray; z-index: 10000;}
.dropdown:hover .dropdown-content {
    	display: block;
    	z-index: 10000;
    	transition-duration: 0.2s;
}
#prima-sezione {
	background-image: url(Sfondo1.jpg);
	width: 100%;
	padding-top: 50%;
	z-index: -1;
}
#cit {
    	position: absolute;
    	left: 5%;
    	right: 5%;
    	top: 15%;
    	width: auto;
    	text-align: center;
    	font-size: 179%;
    	font-family: "GothamBook";
    	font-weight: bold;
    	color: white;
}
#autore {
	position: absolute;
	text-align: center;
	font-size: 110%;
	width: auto;
	font-family: "GothamBook";
	font-style: italic;
	color: white;
	top: 47%;
	left: 40%;
	right: 40%;
}
#copritesto {
	position: absolute;
	background-color: black;
	top: 13%;
	opacity: 0.4;
	width: 100%;
	height: 31%;
	z-index: 11;
}
#copritesto1 {
	position: absolute;
	background-color: black;
	top: 13%;
	opacity: 0.4;
	width: 100%;
	height: 26%;
	z-index: 11;
}
#copritesto2 {
	position: absolute;
	background-color: black;
	top: 7%;
	opacity: 0.4;
	width: 100%;
	height: 12%;
	z-index: 11;
}
#copritesto3 {
	position: absolute;
	background-color: black;
	top: 13%;
	opacity: 0.4;
	width: 100%;
	height: 24%;
	z-index: 11;
}
#copritesto4 {
	position: absolute;
	background-color: black;
	top: 13%;
	opacity: 0.4;
	width: 100%;
	height: 26%;
	z-index: 11;
}
#copritesto5 {
	position: absolute;
	background-color: black;
	top: 13%;
	opacity: 0.4;
	width: 42%;
	left: 58%;
	height: 26%;
	z-index: 11;
}
#copritesto6 {
	position: absolute;
	background-color: black;
	top: 13%;
	opacity: 0.4;
	width: 100%;
	height: 26%;
	z-index: 11;
}
#copritesto7 {
	position: absolute;
	background-color: black;
	top: 13%;
	opacity: 0.4;
	width: 100%;
	height: 26%;
	z-index: 11;
}
#sfondo-dei-box {
	background-image: url(Sfondo2.jpg);
	background-size: auto;
	background-repeat: repeat;
	margin: 0;
	z-index: -1;
	height: 275%;
	width: 100%;
	position: absolute;
}
#alla-scoperta {
	position: absolute;
	left: 5%;
	right: 5%;
	top: 103%;
	width: auto;
	text-align: center;
	font-size: 200%;
	font-family: "GothamBook";
	color: white;
	font-weight: 300;
	z-index=50
}
.tendina { 
	display: none;
}
.sotto {
	display: none;
}
#testo {
	position: absolute;
	left: 5%;
	right: 5%;
	top: -10%;
	width: auto;
	text-align: center;
	font-size: 318% ;
	font-family: "GothamBook";
	color: white;
	z-index: 100;
}
#sottotesto {
	position: absolute;
	left: 5%;
	right: 5%;
	top: 30%;
	width: auto;
	text-align: center;
	font-size: 96%;
	font-family: "GothamBook";
	color: white;
	font-style: italic;
	z-index: 100;
}
#testo1 {
	position: absolute;
	left: 5%;
	right: 5%;
	top: -4%;
	width: auto;
	text-align: center;
	font-size: 233%;
	font-family: "GothamBook";
	color: white;
	z-index: 100;
}
#sottotesto1 {
	position: absolute;
	left: 5%;
	right: 5%;
	top: 25%;
	width: auto;
	text-align: center;
	font-size: 91.97%;
	font-family: "GothamBook";
	color: white;
	font-style: italic;
	z-index: 100;
}
#testo2 {
	position: absolute;
	left: 5%;
	right: 5%;
	top: -1%;
	width: auto;
	text-align: center;
	font-size: 226.86%;
	font-family: "GothamBook";
	color: white;
	z-index: 100;
}
#sottotesto2 {
	position: absolute;
	left: 5%;
	right: 5%;
	top: 12.5%;
	width: auto;
	text-align: center;
	font-size: 91.97%;
	font-family: "GothamBook";
	color: white;
	font-style: italic;
	z-index: 100;
}
#testo3 {
	position: absolute;
	left: 5%;
	right: 5%;
	top: -3%;
	width: auto;
	text-align: center;
	font-size: 318%;
	font-family: "GothamBook";
	color: white;
	z-index: 100;
}
#testo4 {
	position: absolute;
	left: 5%;
	right: 5%;
	top: -3%;
	width: auto;
	text-align: center;
	font-size: 226.86%;
	font-family: "GothamBook";
	color: white;
	z-index: 100;
}
#sottotesto4 {
	position: absolute;
	left: 5%;
	right: 5%;
	top: 24.5%;
	width: auto;
	text-align: center;
	font-size: 91.97%;
	font-family: "GothamBook";
	color: white;
	font-style: italic;
	z-index: 100;
}
#testo5 {
	position: absolute;
	right: 5%;
	top: -3%;
	width: auto;
	text-align: center;
	font-size: 226.86%;
	font-family: "GothamBook";
	color: white;
	z-index: 100;
}
#sottotesto5 {
	position: absolute;
	right: 13%;
	top: 25%;
	width: auto;
	text-align: center;
	font-size: 91.97%;
	font-family: "GothamBook";
	color: white;
	font-style: italic;
	z-index: 100;
}
#testo6 {
	position: absolute;
	right: 5%;
	top: -3%;
	width: auto;
	text-align: center;
	font-size: 226.86%;
	font-family: "GothamBook";
	color: white;
	z-index: 100;
}
#sottotesto6 {
	position: absolute;
	right: 5%;
	left: 5%;
	top: 25%;
	width: auto;
	text-align: center;
	font-size: 91.97%;
	font-family: "GothamBook";
	color: white;
	font-style: italic;
	z-index: 100;
}
#testo7 {
	position: absolute;
	right: 5%;
	top: -3%;
	width: auto;
	text-align: center;
	font-size: 226.86%;
	font-family: "GothamBook";
	color: white;
	z-index: 100;
}
#sottotesto7 {
	position: absolute;
	right: 5%;
	left: 5%;
	top: 25%;
	width: auto;
	text-align: center;
	font-size: 91.97%;
	font-family: "GothamBook";
	color: white;
	font-style: italic;
	z-index: 100;
}
#button1 {
	font-family: "GothamBook";
	background-color: yellow;
	color: black;
	width: 27%;
	height: 7%;
	position: relative;
	top: 72%;
	padding: 2.5% 4%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 127%;
}
#button1:hover {
	background-color: white;
	transition-duration: 0.3s;
}
#button2 {
	font-family: "GothamBook";
	background-color: yellow;
	color: black;
	width: 27%;
	height: 7%;
	position: relative;
	top: 72%;
	padding: 2.5% 4%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 127%;
}
#button2:hover {
	background-color: white;
	transition-duration: 0.3s;
}
#button3 {
	font-family: "GothamBook";
	background-color: yellow;
	color: black;
	width: 27%;
	height: 3.5%;
	position: relative;
	top: 86%;
	padding: 2.5% 4%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 127%;
}
#button3:hover {
	background-color: white;
	transition-duration: 0.3s;
}
#button4 {
	font-family: "GothamBook";
	background-color: yellow;
	color: black;
	width: 27%;
	height: 7%;
	position: relative;
	top: 72%;
	padding: 2.5% 4%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 127%;
}
#button4:hover {
	background-color: white;
	transition-duration: 0.3s;
}
#button5 {
	font-family: "GothamBook";
	background-color: yellow;
	color: black;
	width: 27%;
	height: 7%;
	position: relative;
	top: 72%;
	padding: 2.5% 4%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 127%;
}
#button5:hover {
	background-color: white;
	transition-duration: 0.3s;
}
#button6 {
	font-family: "GothamBook";
	background-color: yellow;
	color: black;
	width: 13%;
	height: 8%;
	position: relative;
	top: 72%;
	padding: 1.3% 2%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 127%;
	left: 29%;
}
#button6:hover {
	background-color: white;
	transition-duration: 0.3s;
}
#button7 {
	font-family: "GothamBook";
	background-color: yellow;
	color: black;
	width: 27%;
	height: 7%;
	position: relative;
	top: 72%;
	padding: 2.5% 4%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 127%;
}
#button7:hover {
	background-color: white;
	transition-duration: 0.3s;
}
#button8 {
	font-family: "GothamBook";
	background-color: yellow;
	color: black;
	width: 27%;
	height: 7%;
	position: relative;
	top: 72%;
	padding: 2.5% 4%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 127%;
}
#button8:hover {
	background-color: white;
	transition-duration: 0.3s;
}
#box1 {
	width: 42.2%;
	height: 45%;
	position: absolute;
	z-index: 10;
	left: 7.5%;
	top: 127.9%;
	background-image: url(CPU.jpg);
}
#box2 {
	background-image: url(SCHEDA-MADRE.jpg);
	width: 42.2%;
	height: 45%;
	background-color: white;
	position: absolute;
	z-index: 10;
	left: 7.5%;
	top: 174.2%;
} 
#box3 {
	background-image: url(GPU.jpg);
	width: 42.2%;
	height: 91.456%;
	background-color:white;
	position: absolute;
	z-index: 10;
	left: 50.3%;
	top: 127.8%;
}
#box4 {
	background-image: url(RAM.jpg);
	width: 42.2%;
	height: 45%;
	background-color: white;
	position: absolute;
	z-index: 10;
	left: 7.5%;
	top: 220.4%;
}
#box5 {
	background-image: url(HARD-DISK.jpg);
	width: 42.2%;
	height: 45%;
	background-color: white;
	position: absolute;
	z-index: 10;
	left: 50.3%;
	top: 220.4%;
}
#box6 {
	background-image: url(DISSIPATORE.jpg);
	width: 85.1%;
	height: 45%;
	position: absolute;
	z-index: 10;
	left: 7.5%;
	top: 266.7%;
	background-color: white;
}
#box7 {
	background-image: url(ALIMENTATORE.jpg);
	width: 42.2%;
	height: 45%;
	background-color: white;
	position: absolute;
	z-index: 10;
	left: 7.5%;
	top: 313%;
}
#box8 {
	background-image: url(SCHEDA-AUDIO.jpg);
	width: 42.2%;
	height: 45%;
	background-color: white;
	position: absolute;
	z-index: 10;
	left: 50.3%;
	top: 313%;
}
#footer {
	background-color: white;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 375%;
	width: 100%;
	height: 50%;
}
#lista-footer {
	position: absolute;
	width: 50%;
	height: 50%;
	list-style-type: none;
    	margin: 0;
    	padding-top: 3%;
}
ul#titolo {
	font-weight: bold;
	color: black;
	font-family: "GothamBook";
}
li.elementi {
	display: block;
	font-family: "GothamBook";
	font-size: 95%;
}
li.elementi a.link {
	color: green;
	text-decoration: underline;
	padding: 1% 4%;
	font-family: "GothamBook";
}
li#titolo {
	font-weight: bold;
	color: black;
	font-size: 115%;
	font-family: "GothamBook";
}
