div barra_navigazione{
  color: 2F2F2F;
}
div h3{
  display: block;
  color: white;
  text-align: center;
  padding: 30px 13px;
  text-decoration: none;
}
div h3:hover{
  background-color: #404040;
}
