@font-face {
	font-family: "GothamBook";
	src: url(GothamBook.eot);
	src: local("GothamBook"), url("GothamBook.ttf") format("truetype");
}
.tendina .sotto {
	display: none;
}
ul {
    list-style-type: none;
    margin: 0;
    border: 0;
    background-color: #333;
    position: fixed;
    width: 100%;
}

li {
    float: left;
    padding: 15px 15px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: "GothamBook";
}

li a:hover {
    background-color: #333;
    color: gray;
}
#prima-sezione {
	width: auto;
	height: 400px;
	padding-top: 47px;
	overflow: hidden;
	position: relative;
}
#testo-centrato {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 15%;
    width: auto;
    text-align: center;
    font-size: 27px;
    font-family: "GothamBook";
    font-weight: bold;
    color: white;
}
#sfondo-dei-box {
	background-image: url(PC.jpg);
	background-size: auto;
	background-repeat: repeat;
	padding: 0;
	margin: 0;
}
